@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 100px;
}

#about > h1 {
  text-align: center;
  padding: 1.5%;
  font-family: "Abel", sans-serif;
}

#my_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  border-radius: 50%;
}

/* bottom part */
.about_introduce {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.about_introduce > p {
  margin-top: 20px;
  font-size: 1.3em;
}

.single_logos img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.single_logos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.single_logos_container > p {
  margin-top: 50px;
  text-align: center;
}

.lang_text {
  text-align: center;
  font-size: 0.75em;
}

#resume {
  margin-right: 15px;
  width: 90px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #fff;
}

#resume > a {
  text-decoration: none;
  color: #000;
}

#linkedInIMG, #githubIMG {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

#linkedInIMG:hover, #githubIMG:hover, #resume:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/************ Media jQuery ************/
@media (max-width: 1024px) {
  .typical-text {
    font-size: 5em;
    margin: auto;
    margin-right: 33px;
  }

  .main-info h1 {
    font-size: 7em;
  }

  #my_photo {
    width: 400px;
  }

  /* .about_container {
      display: list-item;
  } */
}
@media (max-width: 768px) {
  /******** header ********/
  .typical-text {
    font-size: 4em;
  }

  .main-info h1 {
    font-size: 4em;
  }

  /******** about ********/
  #my_photo {
    width: 350px;
  }

  /******** project ********/
  .project_img > img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .gif > p {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
  }

  .gif > h2 {
    font-size: 1.5em;
  }

  #front, #back {
    font-size: 0.8em;
    margin: 0;
  }

  .livesite {
    font-size: 1.4em;
  }

  .site_github_container {
    text-align: left;
  }

  /******** contact ********/
  #email_logo {
    width: 300px;
    height: 300px;
  }

  .lets_talk {
    font-size: 5em;
  }
}
@media (max-width: 540px) {
  #about_introduce {
    font-size: 25px;
  }

  .about_container .about_introduce p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  #resume {
    height: 45px;
    padding: 5px;
  }

  #aboutme_text {
    font-size: 2.5em;
  }

  #linkedInIMG, #githubIMG {
    width: 45px;
    height: 45px;
  }

  .single_logos div img {
    width: 45px;
    height: 45px;
    margin: 5px;
  }
  .single_logos div p {
    font-size: 0.8em;
  }
}
@media (max-width: 375px) {
  #about_introduce {
    font-size: 22px;
  }

  .about_container .about_introduce p {
    font-size: 15px;
    margin-bottom: 30px;
  }

  #resume {
    height: 45px;
    padding: 5px;
  }

  #my_photo {
    transform: translateX(-20px);
  }

  #aboutme_text {
    font-size: 2em;
  }

  #linkedInIMG, #githubIMG {
    width: 45px;
    height: 45px;
    transform: translateY(0px);
  }

  .resume_linkedin_github {
    transform: translateX(-15px);
  }

  .single_logos div img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  .single_logos div p {
    font-size: 0.7em;
  }
}
@media (max-width: 320px) {
  #about_introduce {
    font-size: 22px;
  }

  .about_container .about_introduce p {
    font-size: 15px;
    margin-bottom: 30px;
  }

  #resume {
    height: 35px;
    padding: 5px;
  }

  #my_photo {
    transform: translateX(-40px);
  }

  #aboutme_text {
    font-size: 2em;
  }

  #linkedInIMG, #githubIMG {
    width: 35px;
    height: 35px;
    transform: translateY(0px);
  }

  .resume_linkedin_github {
    transform: translateX(-25px);
  }

  .single_logos div img {
    width: 30px;
    height: 30px;
    margin: 7px;
  }
  .single_logos div p {
    font-size: 0.6em;
  }
}
@media (max-width: 280px) {
  #about_introduce {
    font-size: 23px;
  }

  .about_container .about_introduce p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  #about > img {
    width: 200%;
    transform: translateX(-40px);
  }

  #resume {
    height: 35px;
  }

  #aboutme_text {
    font-size: 2.5em;
  }

  .resume_linkedin_github {
    transform: translateX(-30px);
  }

  #linkedInIMG, #githubIMG {
    transform: translateY(3px);
    width: 30px;
    height: 30px;
  }

  .single_logos div img {
    width: 20px;
    height: 20px;
    margin: 7px;
  }
  .single_logos div p {
    font-size: 0.5em;
  }
}/*# sourceMappingURL=About.css.map */