@import '../../Variables/Variables.scss';

* {
    @include defaultStyle()
}

#about {
    background-color: $primaryWhite;
    width: 100%;
    height: auto;
    padding: 100px;
}

#about > h1 {
    text-align: center;
    padding: 1.5%;
    font-family: $primaryFont;
}

#my_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

/* bottom part */
.about_introduce {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.about_introduce > p {
    margin-top: 20px;
    font-size: 1.3em;
}

.single_logos img {
    width: 70px;
    height: 70px;
    margin: 10px;  
}

.single_logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.single_logos_container > p {
    margin-top: 50px;
    text-align: center;
}
.lang_text {
    text-align: center;
    font-size: 0.75em;
}


#resume {
    margin-right: 15px;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $primaryBlack;
    background-color: $primaryWhite;
}
#resume > a {
    text-decoration: none;
    color: $primaryBlack;
}

#linkedInIMG, #githubIMG {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#linkedInIMG:hover, #githubIMG:hover, #resume:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/************ Media jQuery ************/
@media (max-width: 768px) {
    #my_photo {
        width: 70%;
        margin-bottom: 30px;
    }
    .about_container {
        .about_introduce {
            width: 600px;
            transform: translateX(-20px);
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 540px) {
    #about_introduce {
        font-size: 20px;
    }
    .about_container {
        .about_introduce {
            width: 400px;
            transform: translateX(-20px);
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    }
    #my_photo {
        width: 100%;
        transform: translateX(0px);
        margin-bottom: 20px;
    }
    
    #resume {
        width: 65px;
        height: 35px;
    }
    #aboutme_text {
        width: 400px;
        font-size: 2em;
        transform: translateX(-30px);
    }
    .resume_linkedin_github {
        display: flex;
        transform: translateX(0px);
    }
    #linkedInIMG, #githubIMG {
        transform: translateY(3px);
        width: 30px;
        height: 30px;
    }
    .single_logos div {
        img {
            width: 35px;
            height: 35px;
            margin: 12px;
        }
        p {
            font-size: 0.7em;
        }
    }
}
@media (max-width: 425px) {
    #about_introduce {
        font-size: 20px;
    }
    .about_container {
        .about_introduce {
            width: 300px;
            transform: translateX(-40px);
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    }
    #my_photo {
        width: 130%;
        transform: translateX(-30px);
        margin-bottom: 20px;
    }
    
    #resume {
        width: 65px;
        height: 35px;
    }
    #aboutme_text {
        width: 300px;
        font-size: 2em;
        transform: translateX(-40px);
    }
    .resume_linkedin_github {
        display: flex;
        transform: translateX(0px);
    }
    #linkedInIMG, #githubIMG {
        transform: translateY(3px);
        width: 30px;
        height: 30px;
    }
    .single_logos div {
        img {
            width: 27px;
            height: 27px;
            margin: 12px;
        }
        p {
            font-size: 0.7em;
        }
    }
}
@media (max-width: 375px) {
    #about_introduce {
        font-size: 20px;
    }
    .about_container {
        .about_introduce {
            width: 265px;
            transform: translateX(-40px);
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
    #my_photo {
        width: 130%;
        transform: translateX(-30px);
        margin-bottom: 20px;
    }
    
    #resume {
        width: 65px;
        height: 35px;
    }
    #aboutme_text {
        width: 265px;
        font-size: 2em;
        transform: translateX(-40px);
    }
    .resume_linkedin_github {
        display: flex;
        transform: translateX(0px);
    }
    #linkedInIMG, #githubIMG {
        transform: translateY(3px);
        width: 30px;
        height: 30px;
    }
    .single_logos div {
        img {
            width: 27px;
            height: 27px;
            margin: 9px;
        }
        p {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 320px) {
    #about_introduce {
        font-size: 20px;
    }
    .about_container {
        .about_introduce {
            width: 200px;
            transform: translateX(-40px);
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
    #my_photo {
        width: 150%;
        transform: translateX(-30px);
        margin-bottom: 20px;
    }
    
    #resume {
        width: 65px;
        height: 35px;
    }
    #aboutme_text {
        width: 200px;
        font-size: 2em;
        transform: translateX(-40px);
    }
    .resume_linkedin_github {
        display: flex;
        transform: translateX(0px);
    }
    #linkedInIMG, #githubIMG {
        transform: translateY(3px);
        width: 30px;
        height: 30px;
    }
    .single_logos div {
        img {
            width: 27px;
            height: 27px;
            margin: 9px;
        }
        p {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 280px) {
    #about_introduce {
        font-size: 20px;
    }
    .about_container {
        .about_introduce {
            width: 150px;
            transform: translateX(-40px);
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
    #my_photo {
        width: 150%;
        transform: translateX(-20px);
        margin-bottom: 20px;
    }
    
    #resume {
        width: 65px;
        height: 35px;
    }
    #aboutme_text {
        width: 150px;
        font-size: 2em;
        transform: translateX(-35px);
    }
    .resume_linkedin_github {
        display: flex;
        transform: translateX(0px);
    }
    #linkedInIMG, #githubIMG {
        transform: translateY(3px);
        width: 30px;
        height: 30px;
    }
    .single_logos div {
        img {
            width: 20px;
            height: 20px;
            margin: 7px;
        }
        p {
            font-size: 0.5em;
        }
    }
}