@import '../../Variables/Variables.scss';

* {
    @include defaultStyle()
}

.contact_main_container {
    background-color: $primaryWhite !important;
    width: 100%;
    height: 100vh;
    display: flex;
}

#contact_btn {
    padding: 0;
    border: none;
    background: none;  
}

.lets_talk {
    font-size: 13em;
    background-color: $primaryWhite;
    color: black;
    font-family: $particleFont;
    margin-left: 50px;
}

#email_logo {
    width: 100%;
    height: auto;
}
.lets_talk:hover, #email_logo:hover {
    transform: scale(1.1);
}


/************ Media jQuery ************/
@media (max-width: 1024px) {
    
}
@media (max-width: 768px) {
    #email_logo {
        margin-top: 50px;
        width: 300px;
        height: 300px;
    }
    .lets_talk {
        margin-top: 50px;
        font-size: 5.5em;
        margin-left: 0px;
    }
}

@media (max-width: 540px) {
    #email_logo {
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }
    .lets_talk {
        margin-top: 50px;
        font-size: 3.5em;
        margin-left: 0px;
    }
}
@media (max-width: 375px) {
    #email_logo {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
    .lets_talk {
        margin-top: 50px;
        font-size: 3em;
        margin-left: 0px;
    }
}

@media (max-width: 320px) {
    #email_logo {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
    .lets_talk {
        margin-top: 50px;
        font-size: 3em;
        margin-left: 0px;
    }
}

@media (max-width: 280px) {
    #email_logo {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
    .lets_talk {
        margin-top: 50px;
        font-size: 3em;
        margin-left: 0px;
    }
}