@import '../../Variables/Variables.scss';

* {
    @include defaultStyle()
}

.header-wrapper {
    position: relative;
    background-color: $primaryBlack !important;
    height: 100vh;
}

.main-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: $primaryFont;
    color: $primaryBlack !important
}
.main-info h1 {
    font-family: $primaryFont;
    font-size: 6em;
    color: $primaryWhite !important
}

.typical-text {
    font-size: 6.5em;
    font-family: $particleFont;
    color: $primaryWhite !important
}

.tsparticles-canvas-el {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#p_tag {
    font-size: 0.3em;
}


/************ Media jQuery ************/
@media (max-width: 1024px) {
    .typical-text {
        font-size: 5em;
        margin: auto;
        margin-right: 33px;
    }
    .main-info h1 {
        font-size: 7em;
    }
    #my_photo {
        width: 400px;
    }
    /* .about_container {
        display: list-item;
    } */
}
@media (max-width: 768px) {
    /******** header ********/
    .typical-text {
        font-size: 4em;
    }
    .main-info h1 {
        font-size: 4em;
    }
    /******** about ********/
    #my_photo {
        width: 350px;
    }

    /******** project ********/
    .project_img > img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .gif > p {
        width: 100%;
        margin-top: 10px;
        font-size: 1em;
    }
    .gif > h2 {
        font-size: 1.5em;
    }
    #front, #back {
        font-size: 0.8em;
        margin: 0;
    }
    .livesite {
        font-size: 1.4em;
    }
    .site_github_container {
        text-align: left;
    }
    /******** contact ********/
    #email_logo {
        width: 300px;
        height: 300px;
    }
    .lets_talk {
        font-size: 5em;
    }

}

@media (max-width: 540px) {
    /******** Navbar ********/
    #mylogo {
        width: 200px;
    }
    /******** header ********/
    .typical-text {
        font-size: 2em;
    }
    .main-info h1 {
        font-size: 3em;
    }
   
    /******** About ********/
    .about_introduce {
        width: 100%;
    }
    #my_photo {
        width: 200px;
    }

    .about_introduce h1 {
        margin-top: 20px;
        font-size: 1.3em;
    }
    .about_introduce p {
        font-size: 0.8em;
    }

    #resume > a {
        text-decoration: none;
        color: black;
    }
    .resume_linkedin_github {
        display: flex;
    }

    .single_logos img {
        width: 40px;
        height: 40px;
        margin: 8px;
    }
    .lang_text {
        font-size: 0.5em;
    }

    /******** project ********/
    .project_img > img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .gif > p {
        width: 100%;
        margin-top: 10px;
        font-size: 1em;
    }
    .gif > h2 {
        font-size: 1.5em;
    }
    #front, #back {
        font-size: 0.8em;
        margin: 0;
    }
    .livesite {
        font-size: 1.4em;
    }
    .site_github_container {
        text-align: left;
    }

    /******** contact ********/
    #email_logo {
        width: 150px;
        height: 150px;
    }
    .lets_talk {
        font-size: 3em;
    }
}
@media (max-width: 375px) {
    /******** header ********/
    .main-info h1 {
        font-size: 2.3em;
    }
    .typical-text {
        font-size: 1.5em;
    }
    
    /******** about ********/
    .about_introduce h1 {
        margin-top: 20px;
        font-size: 18px;
    }
    .single_logos img {
        width: 40px;
        height: 40px;
        margin: 8px;  
    }
    .lang_text {
        font-size: 0.4em;
    }
    /******** project ********/
    #front, #back {
        font-size: 0.7em;
        margin: 0;
    }
    #githubIMG_3 {
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }
    #githubIMG_2 {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
}

@media all and (max-width: 360px) {
    /******** Navbar ********/
    #mylogo {
        width: 180px;
    }
    /******** header ********/
    .typical-text {
        font-size: 1.4em;
        margin-right: 33px;
    }
    .main-info h1 {
        font-size: 2em;
    }
   
    /******** About ********/
    #my_photo {
        width: 150px;
    }

    .about_introduce {
        width: 100%;
    }
    .about_introduce h1 {
        margin-top: 20px;
        font-size: 12px;
    }
    .about_introduce p {
        font-size: 12px;
    }

    #resume > a {
        text-decoration: none;
        color: black;
    }

    #linkedInIMG, #githubIMG {
        margin-top: 10px;
    }

    .single_logos img {
        width: 25px;
        height: 25px;
        margin: 8px;
    }

    /******** project ********/
    .project_img > img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .gif > p {
        width: 100%;
        margin-top: 10px;
        font-size: 1em;

    }
    .gif > h2 {
        font-size: 1.1em;
    }
    .livesite {
        font-size: 18px;
    }
    .site_github_container {
        margin-left: -20px;
    }

    /******** contact ********/
    #email_logo {
        width: 100px;
        height: 100px;
        margin-top: -20px;
    }
    .lets_talk {
        font-size: 3em;
    }
}

@media all and (max-width: 320px) {
    .header-wrapper {
        overflow: hidden;
    }
    .main-info {
        p {
            font-size: 0.8em;
            margin-left: 35px;
        }
    }

    .main-info h1 {
        font-size: 1em;
    }
}

@media all and (max-width: 280px) {
    .main-info {
        p {
            font-size: 0.8em;
            margin-left: 35px;
        }
    }

    .main-info h1 {
        font-size: 1em;
    }
}