@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project_container {
  width: 100%;
  height: auto;
  padding: 100px;
  background-color: #000;
}

.project_container h1 {
  color: #fff;
  text-align: center;
  padding: 2%;
}

.project_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.project_img > img {
  width: 55%;
}

.gif > h2 {
  text-align: center;
  color: #fff !important;
  font-family: "Abel", sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.gif > p {
  color: #fff !important;
  width: 50%;
  margin: auto;
  font-size: 1.5em;
  font-family: "Abel", sans-serif;
}

.site_github_container {
  text-align: center;
}

.livesite {
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  font-family: "Indie Flower";
}

.site_github_container span {
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
}

.site_github_container > a:hover {
  text-decoration: none;
  color: #f9ab00;
}

#githubIMG_2 {
  width: 23px;
  height: 23px;
  margin-left: 25px;
  background: #fff;
  margin-top: -10px;
}

#githubIMG_3 {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  margin-top: -10px;
}

#githubIMG_2:hover, #githubIMG_3:hover {
  transform: scale(1.1);
}

#front, #back {
  font-size: 15px;
}

.frontback:visited {
  color: #fff;
}

/************ Media jQuery ************/
@media (max-width: 1024px) {
  .gif p {
    transform: translateX(10px);
    width: 700px;
    font-size: 1.2em;
  }
  .gif .project_img img {
    width: 600px;
  }
  .gif .site_github_container {
    transform: translateX(105px);
    margin-bottom: 15px;
    width: 600px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 2em;
  }
  .gif h2 {
    width: 600px;
    transform: translateX(110px);
  }
}
@media (max-width: 768px) {
  .gif p {
    transform: translateX(-20px);
    width: 600px;
    font-size: 1.2em;
  }
  .gif .project_img img {
    width: 600px;
  }
  .gif .site_github_container {
    transform: translateX(-25px);
    margin-bottom: 15px;
    width: 600px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 2em;
  }
  .gif h2 {
    width: 600px;
    transform: translateX(-20px);
  }
}
@media (max-width: 540px) {
  .project_container h1 {
    font-size: 2.5em;
    transform: translateX(0px);
    margin-bottom: -50px;
  }

  .site_github_container {
    display: flex;
    transform: translateX(-65px);
  }
  .site_github_container :nth-child(1) {
    transform: translateX(0px);
  }
  .site_github_container span {
    font-size: 2em;
  }

  .gif p {
    transform: translateX(-20px);
    width: 400px;
    font-size: 1.2em;
  }
  .gif .project_img img {
    width: 400px;
  }
  .gif .site_github_container {
    transform: translateX(35px);
    margin-bottom: 15px;
    width: 250px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 1em;
  }
  .gif h2 {
    width: 200px;
    transform: translateX(70px);
  }

  .gif:nth-child(3) .site_github_container, .gif:nth-child(4) .site_github_container {
    transform: translateX(50px);
  }

  #githubIMG_2 {
    transform: translateY(15px);
  }
}
@media (max-width: 425px) {
  .project_container h1 {
    font-size: 2.5em;
    transform: translateX(0px);
    margin-bottom: -50px;
  }

  .site_github_container {
    display: flex;
    transform: translateX(-65px);
  }
  .site_github_container :nth-child(1) {
    transform: translateX(0px);
  }
  .site_github_container span {
    font-size: 2em;
  }

  .gif p {
    transform: translateX(-50px);
    width: 320px;
    font-size: 1em;
  }
  .gif .project_img img {
    width: 270px;
  }
  .gif .site_github_container {
    transform: translateX(-25px);
    margin-bottom: 15px;
    width: 250px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 1em;
  }
  .gif h2 {
    width: 200px;
    font-size: 1.4em;
    transform: translateX(10px);
  }

  .gif:nth-child(3) .site_github_container, .gif:nth-child(4) .site_github_container {
    transform: translateX(0px);
  }

  #githubIMG_2 {
    transform: translateY(15px);
  }
}
@media (max-width: 375px) {
  .project_container h1 {
    font-size: 2.5em;
    transform: translateX(0px);
    margin-bottom: -50px;
  }

  .site_github_container {
    display: flex;
    transform: translateX(-65px);
  }
  .site_github_container :nth-child(1) {
    transform: translateX(0px);
  }
  .site_github_container span {
    font-size: 2em;
  }

  .gif p {
    transform: translateX(-50px);
    width: 270px;
    font-size: 1em;
  }
  .gif .project_img img {
    width: 270px;
  }
  .gif .site_github_container {
    transform: translateX(-45px);
    margin-bottom: 15px;
    width: 250px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 1em;
  }
  .gif h2 {
    width: 200px;
    transform: translateX(-20px);
  }

  .gif:nth-child(3) .site_github_container, .gif:nth-child(4) .site_github_container {
    transform: translateX(-30px);
  }

  #githubIMG_2 {
    transform: translateY(15px);
  }
}
@media (max-width: 320px) {
  .project_container h1 {
    font-size: 2.5em;
    transform: translateX(0px);
    margin-bottom: -50px;
  }

  .site_github_container {
    display: flex;
    transform: translateX(-75px);
    width: 250px;
  }
  .site_github_container :nth-child(1) {
    transform: translateX(0px);
  }
  .site_github_container span {
    font-size: 2em;
  }

  .gif p {
    transform: translateX(-50px);
    width: 230px;
    font-size: 1em;
  }
  .gif .project_img img {
    width: 200px;
  }
  .gif .site_github_container {
    transform: translateX(-75px);
    margin-bottom: 15px;
    width: 210px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 1em;
  }
  .gif h2 {
    width: 200px;
    transform: translateX(-40px);
  }

  .gif:nth-child(3) .site_github_container, .gif:nth-child(4) .site_github_container {
    transform: translateX(-50px);
  }

  #githubIMG_2 {
    transform: translateY(15px);
  }
}
@media (max-width: 280px) {
  .project_container h1 {
    font-size: 2.5em;
    transform: translateX(-30px);
    margin-bottom: -50px;
  }

  .site_github_container {
    display: flex;
    transform: translateX(-65px);
  }
  .site_github_container :nth-child(1) {
    transform: translateX(0px);
  }
  .site_github_container span {
    font-size: 2em;
  }

  .gif p {
    transform: translateX(-50px);
    width: 200px;
    font-size: 1em;
  }
  .gif .project_img img {
    width: 200px;
  }
  .gif .site_github_container {
    transform: translateX(-75px);
    margin-bottom: 15px;
  }
  .gif .site_github_container a:nth-child(4) {
    font-size: 1em;
  }
  .gif h2 {
    width: 200px;
    font-size: 1.3em;
    transform: translateX(-55px);
  }

  .gif:nth-child(3) .site_github_container, .gif:nth-child(4) .site_github_container {
    transform: translateX(-70px);
  }

  #githubIMG_2 {
    transform: translateY(15px);
  }
}/*# sourceMappingURL=Project.css.map */