@import '../../Variables/Variables.scss';

* {
    @include defaultStyle()
}

body {
    font-family: $primaryFont;
}

nav {
    z-index: 2;
}

#mylogo {
    margin-top: -23%;
}

nav a.nav-link {
    letter-spacing: 0.15em;
    cursor: pointer;
}

.navbar-nav > li > a {
    margin-right: 0.75em;
    margin-left: 0.75em;
    color: $primaryWhite;
    border-top: 0.25em

}

.navbar-nav > li > a:hover {
    border-bottom: 0.15em solid $primaryOrange;
    color: $primaryBlack;
}

.navbar-brand {
    max-width: 17.25em;
    padding: 0;
    height: 4em;
}

.sticky-nav {
    position: sticky;
    top: 0;
}


/************ Media jQuery ************/
@media (max-width: 1024px) {
   
}
@media (max-width: 768px) {

}

@media (max-width: 540px) {
    #mylogo {
        height: 140px;
        margin-top: -15%;
    }
    .navbar-brand {
        height: 3em;
    }
}
@media (max-width: 375px) {
    #mylogo {
        height: 140px;
        margin-top: -15%;
    }
    .navbar-brand {
        height: 3em;
    }
}

@media (max-width: 320px) {
    #mylogo {
        height: 120px;
        margin-top: -12%;
    }
    .navbar-brand {
        height: 2em;
    }
}
@media (max-width: 280px) {
    #mylogo {
        margin-top: -19%;
    }
    .navbar-brand {
        height: 3em;
    }
}
