@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
}

:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-orange: #f9ab00;
    --primary-red: #f95700;
}

/************ Navbar ************/
nav {
    z-index: 2;
}
#mylogo {
    margin-top: -23%;
}

nav a.nav-link {
    letter-spacing: 0.15em;
    cursor: pointer
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75em;
    margin-left: 0.75em;
    color: var(--primary-white) !important;
    border-top: 0.01em
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-top: 0.01em solid var(--primary-red) !important
}
.navbar-nav > li > a:hover {
    border-top: 0.01em solid var(--primary-orange) !important
}

.navbar-brand {
    max-width: 17.25em;
    padding: 0 !important;
    height: 4em !important;
}

/************ Header ************/
.header-wrapper {
    position: relative;
    background-color: var(--primary-black) !important;
    height: 100vh;
}

.main-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Abel', sans-serif;
    color: var(--primary-black) !important
}
.main-info > h1 {
    font-size: 8em;
    color: var(--primary-white) !important
}

.typical-text {
    font-size: 10em;
    font-family: 'Indie Flower', cursive;
    color: var(--primary-white) !important
}

#my_photo {
    width: 500px;
    height: auto;
    border-radius: 50%;
    z-index: 2;
}

.tsparticles-canvas-el {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/************ Media jQuery ************/
@media (max-width: 768px) {
    .typical-text {
        font-size: 1em;
    }
    #my_photo {
        width: 300px;
    }
}

/* for galaxy fold only */
@media all and (max-width: 280px) {
    .typical-text {
        font-size: 0.7em;
    }
    #my_photo {
        width: 250px;
    }
    #mylogo {
        width: 180px;
    }
}