@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
}

:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-orange: #f9ab00;
    --primary-red: #f95700;
}

/************ Navbar ************/
nav {
    z-index: 2;
}

#mylogo {
    margin-top: -23%;
}

nav a.nav-link {
    letter-spacing: 0.15em;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75em;
    margin-left: 0.75em;
    color: var(--primary-white) !important;
    border-top: 0.25em
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-top: 0.25em solid var(--primary-red) !important
}
.navbar-nav > li > a:hover {
    border-top: 0.25em solid var(--primary-orange) !important
}

.navbar-brand {
    max-width: 17.25em;
    padding: 0 !important;
    height: 4em !important;
}

.sticky-nav {
    position: sticky;
    top: 0;
}




/************ Header ************/
.header-wrapper {
    position: relative;
    background-color: var(--primary-black) !important;
    height: 100vh;
}

.main-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Abel', sans-serif;
    color: var(--primary-black) !important
}
.main-info h1 {
    font-family: 'Abel', sans-serif;
    font-size: 8em;
    color: var(--primary-white) !important
}

.typical-text {
    font-size: 8.5em;
    font-family: 'Indie Flower', cursive;
    color: var(--primary-white) !important
}

.tsparticles-canvas-el {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#p_tag {
    font-size: 0.3em;
}


/**************** About ***************/
#about {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 100px;
}

#about > h1 {
    text-align: center;
    padding: 1.5%;
    font-family: 'Abel', sans-serif;
}

#my_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

/* bottom part */
.about_introduce {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.about_introduce > p {
    margin-top: 20px;
    font-size: 1.3em;
}

.single_logos img {
    width: 70px;
    height: 70px;
    margin: 10px;  
}

.single_logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.single_logos_container > p {
    margin-top: 50px;
    text-align: center;
}


#resume {
    margin-right: 15px;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
#resume > a {
    text-decoration: none;
    color: black;
}

#linkedInIMG, #githubIMG {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#linkedInIMG:hover, #githubIMG:hover, #resume:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/**************** Project ***************/
.project_container {
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: black;
}

.project_container h1 {
    color: white;
    text-align: center;
    padding: 2%;
}

/* .gif_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 5%;
} */

.project_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
.project_img > img {
    width: 55%;
}

.gif > h2 {
    text-align: center;
    color: var(--primary-white) !important;
    font-family: 'Abel', sans-serif;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.gif > p {
    color: var(--primary-white) !important;
    width: 50%;
    margin: auto;
    /* margin-top: 5%; */
    /* margin-left: 2%; */
    /* padding: 10px; */
}
.site_github_container {
    text-align: center;
}
.livesite {
    margin-left: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.site_github_container span {
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.site_github_container > a:hover {
    color: white;
    text-decoration: none;
    color: orange;
}
#githubIMG_2 {
    width: 23px;
    height: 23px;
    margin-left: 25px;
    background: white;
    margin-top: -10px;
}
#githubIMG_3 {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    margin-top: -10px;
}
#githubIMG_2:hover, #githubIMG_3:hover {
    transform: scale(1.1);
}

#front, #back {
    font-size: 15px;
}

.frontback:visited {
    color: white;
}



/**************** Contact ***************/
.contact_main_container {
    background-color: var(--primary-white) !important;
    width: 100%;
    height: 100vh;
    display: flex;
}

#contact_btn {
    padding: 0;
    border: none;
    background: none;  
}

.lets_talk {
    font-size: 13em;
    background-color: white;
    font-family: 'Indie Flower', cursive;
}

#email_logo {
    width: 100%;
    height: auto;
}


/************ Media jQuery ************/
@media (max-width: 1024px) {
    .typical-text {
        font-size: 5em;
        margin: auto;
        margin-right: 33px;
    }
    .main-info h1 {
        font-size: 7em;
    }
    #my_photo {
        width: 400px;
    }
    /* .about_container {
        display: list-item;
    } */
}
@media (max-width: 768px) {
    .typical-text {
        font-size: 1.6em;
        margin: auto;
        margin-right: 33px;
    }
    .main-info h1 {
        font-size: 3em;
    }
    #my_photo {
        width: 300px;
    }
    /* .about_container {
        display: list-item;
    } */
}

@media all and (max-width: 360px) {
    /******** header ********/
    .typical-text {
        font-size: 1.4em;
        margin-right: 33px;
    }
    .main-info h1 {
        font-size: 2em;
    }
    /******** About ********/
    #my_photo {
        width: 150px;
    }
    #mylogo {
        width: 180px;
    }

    .about_introduce h1 {
        margin-top: 20px;
        font-size: 12px;
    }
    .about_introduce p {
        font-size: 12px;
    }

    #resume > a {
        text-decoration: none;
        color: black;
    }

    .single_logos img {
        width: 25px;
        height: 25px;
        margin: 8px;
    }


    /******** project ********/














    /******** contact ********/
    #email_logo {
        width: 50px;
        height: 50px;
        margin-top: -20px;
    }
    .lets_talk {
        font-size: 2em;
    }
}